.feed {
    flex: 0 0 0.6;
    min-height: 100vh;
    max-width: 600px;
    /* min-width: fit-content; */
    /* overflow-y: scroll; */
}

.feed__timeline {
    display: flex;
    flex-direction: column-reverse;
}