.sidebar {
    position: sticky;
    top: 0;
    flex: 0 10.3 275px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-right: 1px solid var(--border-divisor);
}

.sidebar-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 275px;
    padding-right: 2rem;
}

.logo {
    display: inline-block;
    padding: 10px;
    width: 50px !important;
    height: 50px !important;
    object-fit: contain;
}

.logo .MuiSvgIcon-root {
    width: 2rem !important;
    height: 2rem !important;
}

.logo:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--twitter-transparency);
    transition: all ease-in-out 200ms;
}

.sidebar__btn {
    width: 100%;
    margin: 10px 0 5px;
    padding: 15px 30px;
    background-color: var(--twitter-color);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: var(--light-color);
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

.sidebar__btn:hover {
    background-color: var(--twitter-hover-color);
}

.sidebar__btn>.sidebar__btnIcon {
    display: none;
}