:root {
    --twitter-color: #1DA1F2;
    --twitter-transparency: #162D3F;
    --light-color: #ffffff;
    --dark-color: #243447;
    --gray-color: #8899a6;
    --bg-dark: #15202b;
}

body {
    background-color: var(--bg-dark);
    color: var(--light-color);
}

.App {
    height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 0 1vw;
}

main {
    flex: 0 1 990px;
    height: 100vh;
    overflow: auto;
}

.main-inner {
    width: 100%;
    height: 100vh;
    max-width: 990px;
}